<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/allstyles.css">
    <link rel="stylesheet" href="/styles/detailstyles/details-table.css">
    <link rel="stylesheet" href="/styles/detailstyles/modal-styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Details</title>
</head>

    <!--A fixed navigation bar with icons and links-->
    <nav class="z-depth-5" name="navigation-bar">
        <h1 class="nav-links" id="homepage"><a class="nav-href" id="homepage-link" href="/">Home</a>
            <img class="nav-icons" id="homepage-icon" src="/images/welcomeIcon.png">
        </h1>
        <h1 class="nav-links" id="inventory"><a class="nav-href" id="inventory-link" href="/inventory">Inventory</a>
            <img class="nav-icons" id="inventory-icon" src="/images/inventoryIcon.png">
        </h1>
        <h1 class="nav-links" id="details"><a class="nav-href" id="details-link" href="/inventory/details">Details</a>
            <img class="nav-icons" id="details-icon" src="/images/detailsIcon.png">
        </h1>
    </nav>

    <!--Full inventory table with edit and delete buttons-->
    <div id="full-inventory-table">
        <div class="table z-depth-5" id="inventory-table">
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th id="class-name">Class:</th>
                        <th id="assignment-name">Assignment Name:</th>
                        <th id="date">Due Date:</th>
                        <th id="priority">Priority (1-10):</th>
                        <th id="description">Description</th>
                    </tr>
                </thead>
                <tr>
                    <td>Web Apps</td>
                    <td>Lab 1</td>
                    <td>01/06/2023</td>
                    <td>5</td>
                    <td>Finish details table and styles</td>
                </tr>
                <tr>
                    <td>Theory of Knowledge</td>
                    <td>Extended Essay</td>
                    <td>06/09/2024</td>
                    <td>1</td>
                    <td>Find sources and complete annotated bibliography</td>
                </tr>
                <tr>
                    <td>AP Calculus AB</td>
                    <td>Optimization Test Retake</td>
                    <td>Tomorrow!</td>
                    <td>10</td>
                    <td>Study optimization and related rates (extra attention to formulas)</td>
                </tr>
            </table>
        </div>
    </div>

    <!--Modal trigger-->
    <div class="div-moreedit-button">
        <a class="modal-trigger btn waves-effect waves-light blue darken-3 z-depth-2" href="#modal-editinfo" id="moreedit-button">More/Edit</a>
        <a class="modal-trigger btn waves-effect waves-light blue darken-3 z-depth-2" href="#modal-editinfo" id="moreedit-button">More/Edit</a>
        <a class="modal-trigger btn waves-effect waves-light blue darken-3 z-depth-2" href="#modal-editinfo" id="moreedit-button">More/Edit</a>
    </div> 

    <!--Modal content-->
    <div id="modal-editinfo" class="modal">
        <div class="modal-content">
            <table class="modal-table responsive-table" style="width: 100%;">
                <tr>
                    <td>
                        <div class="input-field">
                            <input id="class-name-input" type="text">
                            <label for="class-name-input">Class Name</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="assignment-name-input" type="text">
                            <label for="assignment-name-input">Assignment Name</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="due-date-input" type="date">
                            <label for="due-date-input">Due Date</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <input id="priority-rating-input" type="range" min="1" max="10" step="1" style="margin-top: 50px">
                            <label for="priority-rating-input">Priority</label>
                    </td>
                </tr>
                <tr>
                    <!--Another table because the td element doesn't extend to the 100% width of the outer table-->
                    <table style="margin: 0; width: 100%;">
                        <tr>
                            <td>
                                <div class="input-field">
                                    <input id="description-input" type="text">
                                    <label for="description-input">Description</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </div>

        <div class="footer-modal">
            <a href="#!" class="modal-close save-exit-modal blue lighten-1 waves-effect waves-blue btn-flat">Save & Exit
            <a href="#!" class="modal-close exit-modal blue lighten-1 waves-effect waves-blue btn-flat">Exit</a>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- initialize Materialize elements -->
    <script>M.AutoInit();</script>
</html>