* {
    color: var(--table-white-color);
}

#full-inventory-table {
    margin-top: 10%;
    position: relative;
    right: -4.5%;
}

#inventory-table {
    margin: 10rem auto;
    width: 85%;
    border: 5px solid;
    display: flex;
    z-index: -1;
}

th, td {
    text-align: center;
    border-bottom: 1px solid;
    z-index: -1;
}

.div-moreedit-button {
    display: block;
    width: 8.5% !important;
    position: absolute;
    left: 3%;
    margin-top: -23.7%;
    z-index: 1;
}

#moreedit-button {
    display: block;
    margin-top: 17px;
}